<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="buscarTimes($event)" placeholder="Digite o nome do sue time" debounce="2000" showCancelButton="true"
      cancelButtonText="Cancelar">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-title *ngIf="tipoBusca=='times'"> Busca por Times </ion-title>
  <ion-title *ngIf="tipoBusca=='ligas'"> Busca por Ligas </ion-title>

  <!-- SEGMENTO -->
  <div padding>

    <ion-segment [(ngModel)]="tipoBusca">
      <ion-segment-button value="times">
        Times
      </ion-segment-button>
      <ion-segment-button value="ligas">
        Ligas
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- LISTA -->
  <ion-list no-lines>
    <!-- ITEM -->
    <ion-item *ngFor="let time of times; let i = index">
      <!-- CARD -->
      <ion-card>

        <!-- HEADER -->
        <ion-card-header>
          <ion-title>{{i + 1}}º {{time.nome}} </ion-title>
        </ion-card-header>

        <!-- CONTENT -->
        <ion-card-content>

          <ion-row>
            <ion-col>
              <ion-thumbnail item-left>
                <img [src]="time.url_escudo_png">
              </ion-thumbnail>
            </ion-col>
            <ion-col text-center center>
              <h1>{{time.pontuacao}} </h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col width-30>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
            </button>
            </ion-col>
            <ion-col width-30>
              <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <ion-note>4 Comments</ion-note>
            </button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>

  <!-- FAB -->
  <ion-fab right bottom>
    <button ion-fab color="default" (click)="cadastrarTime()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>